body {
    font-family: 'Oxygen', 'Space Grotesk', sans-serif;
    color: #191A23;
    background-color: #F3F3F3;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 80px;
}


.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo img {
    width: 150px;
}

.right-nav {
    display: flex;
    align-items: center;
    gap: 20px;
}


.menu {
    display: flex;
    gap: 25px;
    align-items: center;
}


.menu a {
    text-decoration: none;
    color: #191A23;
    font-weight: 500;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 6px;
    transition: 0.2s;
}

.menu a:hover,
.menu a.active {
    background-color: #C8FF64;
}


.menu-item {
    position: relative;
    display: flex;
    flex-direction: column;
}


.submenu {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background: white;
    padding: 10px 0;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    min-width: 180px;
    flex-direction: column;
    z-index: 99;
}

.submenu a {
    display: block;
    padding: 10px 20px;
    color: #191A23;
    text-decoration: none;
    white-space: nowrap;
}

.menu-item:hover .submenu {
    display: flex;
}


.nav-button button {
    background-color: transparent;
    color: #191A23;
    border: 1px solid #191A23;
    border-radius: 6px;
    padding: 14px 23px;
    cursor: pointer;
    transition: 0.3s;
}

.nav-button button:hover {
    background-color: #191A23;
    color: white;
}