input {
    font-family: "Oxygen", sans-serif;
    border-radius: 40px;
    padding: 14px 20px;
    border: 1px solid #897575;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}


h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 42px;
}

form {
    max-width: 500px;
    margin: auto;
    padding: 30px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    background: white;
    border-radius: 20px;
}


.firstname {
    display: flex;
    gap: 12px;
}

.firstname input {
    width: 100%;
}

.name input,
.biobox input {
    margin-bottom: 15px;
}

.favouritebox p {
    font-weight: bold;
    margin-bottom: 8px;
    margin: 0px;
}

.favouritebox label {
    font-size: 16px;
}

input[type="checkbox"] {
    margin-right: 8px;
    width: auto;
}


input[type="submit"] {
    background: #4a90e2;
    color: white;
    padding: 14px 20px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 40px;
}

input[type="submit"]:hover {
    background: #357ab8;
}