/* 主区 */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0;
    gap: 40px;
}

.text-area {
    flex: 1;
    max-width: 550px;
}

.text-area h1 {
    font-size: 52px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 25px;
}

.text-area p {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 35px;
    color: #555;
}

.cta-btn {
    background-color: #191A23;
    color: white;
    padding: 14px 28px;
    border: 2px solid black;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.cta-btn:hover {
    background-color: transparent;
    color: #191A23;

}

.hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.hero-image img {
    max-width: 100%;
}

/*  Logo  */
.brand-section {
    padding: 40px 0;
}

.brand-logo {
    display: flex;

}

.brand-logo img {
    width: auto;
    display: block;
    filter: grayscale(100%);
    transition: opacity 0.3s ease;
}

.brand-logo img:hover {
    opacity: 1;
}