/* ===== Hero Section ===== */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 90%;
    margin-top: 40px;
    padding-bottom: 40px;
}

.text-area {
    flex: 1 1 380px;
    max-width: 550px;
}

.text-area h1 {
    font-size: 52px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 25px;
}

.text-area p {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 35px;
    color: #555;
}


.cta-btn {
    background-color: #191A23;
    color: #ffffff;
    border: 1px solid #191A23;
    padding: 16px 32px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.cta-btn:hover {
    background-color: transparent;
    color: #191A23;
    border: 1px solid #191A23;
}


.hero-image img {
    width: 500px;
    max-width: 100%;
    display: block;
}


/* ===== Brand Logo ===== */
.brand-section {
    margin-top: 0px;
    padding: 40px 0;
}

.brand-logo {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: 20px;
}

.brand-logo img {
    width: 120px;
    height: 45px;
    filter: grayscale(100%);
    opacity: 0.65;
    transition: opacity 0.3s ease;
}

.brand-logo img:hover {
    opacity: 1;
}

/* Hamburger */
.menu-bar {
    display: none;
    cursor: pointer;
}

.menu-bar img {
    width: 28px;
}

.hero-image-mobile {
    display: none;
}


/* 平板 (max-width: 991px) */
@media (max-width: 991px) {


    .hero {
        flex-direction: column;
        text-align: center;
        gap: 40px;
    }

    .text-area {
        max-width: 100%;
    }

    .hero-image img {
        display: none;
    }

    .hero-image-mobile {
        display: block;
        width: 75%;
        max-width: 500px;
        margin: 0 auto 20px;
    }

    .hero-image-mobile img {
        width: 100%;
        height: auto;
        display: block;
    }

    .brand-logo {
        gap: 60px;
    }

    .brand-logo img {
        width: 100px;
        height: auto;
    }

}


@media (max-width: 900px) {
    .menu {
        display: none;
    }

    .nav-button {
        display: none;
    }

    .menu-bar {
        display: block;
        cursor: pointer;
    }

    .right-nav {
        display: flex;
        align-items: center;
        gap: 15px;
    }
}

/* ========= 手机(max 768px) ========= */
@media (max-width: 768px) {
    .container {
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 40px;
        box-sizing: border-box;
    }

    .hero {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        text-align: center;
        gap: 30px;

    }

    .text-area {
        max-width: 100%;
        text-align: center;
    }

    .text-area h1 {
        font-size: 32px;
        line-height: 1.3;
        margin-bottom: 20px;
    }

    .text-area p {
        font-size: 16px;
        line-height: 1.6;
        margin-bottom: 25px;
    }

    .hero-image img {
        width: 90%;
        max-width: 350px;
        margin: auto;
    }

    .cta-btn {
        width: 100%;
        max-width: 350px;
        margin: auto;
    }

    .menu-bar {
        display: block;
    }


    nav,
    .nav-links {
        display: none;
    }

    .navbar {
        justify-content: space-between;
    }


    .brand-logo {
        gap: 40px;
        margin-top: 5px;
    }

    .brand-logo img {
        max-width: 90px;
        height: auto;
    }
}