.card-container {
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}


.trip-img {
    width: 300px;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
}

.trip-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.trip-info {
    position: relative;

    width: 300px;
    padding: 10px;
    background: #f5f5f5;
    border-radius: 8px;
    margin-top: 10px;
}


.progress-card {
    position: absolute;
    bottom: 3px;
    right: -20px;
    background: gray;
    color: white;
    padding: 8px;
    border-radius: 5px;
    width: 165px;
}


.trip-title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 5px;
}

.trip-date,
.trip-people {
    font-size: 15px;
    margin-bottom: 5px;
}

.trip-icons {
    display: flex;
    gap: 5px;
}


.progress-bar {
    border-radius: 5px;
    padding: 3px;
}

.progress-value {
    font-weight: bold;
}

/* media */

/* 平板 */
@media screen and (max-width: 1024px) {
    .card-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }

    .trip-img {
        width: 250px;
        height: 170px;
    }

    .trip-title {
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 5px;
    }

    .trip-date,
    .trip-people {
        font-size: 15px;
        margin-bottom: 5px;
    }

    .trip-info {
        width: 250px;
    }

    .progress-card {
        width: 150px;
        padding: 6px;
        font-size: 12px;
    }
}

/* 手机 */
@media screen and (max-width: 600px) {
    .card-container {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .trip-img {
        width: 90%;
        height: auto;
    }

    .trip-info {
        width: 90%;
    }

    .trip-title {
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 5px;
    }

    .trip-date,
    .trip-people {
        font-size: 15px;
        margin-bottom: 5px;
    }

    .progress-card {
        width: 45%;
        padding: 5px;
        font-size: 11px;
    }
}