/* ===== Base Style ===== */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Space Grotesk", sans-serif;
    background-color: #fff;
    color: #222;
    line-height: 1.5;
    padding: 40px 20px;
}

/* ===== Header ===== */
.header {
    max-width: 800px;
    margin: 0 auto 60px;
    text-align: center;
}

.header h1 {

    font-weight: 700;
    margin-bottom: 16px;
}

.header p {
    color: #555;
}

/* ===== Card Section ===== */
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 24px;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    width: 300px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

.card img {
    width: 100%;
    display: block;
    height: 220px;
    object-fit: cover;
}


.card-text {
    text-align: center;
    position: relative;
    bottom: 60px;
    width: fit-content;
    padding: 8px 12px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    border-radius: 4px;
    margin: 0;
    display: inline-block;
}


.card-text a {
    display: inline-block;
    margin-top: 8px;
    color: #fff;
    text-decoration: underline;
}

/* 平板 */
@media (max-width: 768px) {
    .card-text {
        bottom: 30px;
        padding: 6px 10px;
        font-size: 0.9rem;
    }
}

/* 手机 */
@media (max-width: 678px) {
    .card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .card {
        width: 90%;
        margin: 0;
        text-align: center;
    }

    .card-text {
        position: relative;
        bottom: 20px;
        display: inline-block;
        margin: 0 auto;
        padding: 5px 8px;
        font-size: 0.85rem;
        background: rgba(0, 0, 0, 0.6);
        border-radius: 4px;
        text-align: center;
    }
}