body {
    background-color: #f4f4f4;
    margin: 0px;
    padding: 0;


    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    display: flex;
    gap: 70px;
    margin: 50px;
    border-radius: 25px;

}


.trip-card {
    width: 420px;
    background: white;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.trip-img img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 25px;
}

.trip-info {
    padding: 20px;
    font-size: 18px;

}

.progress-card {
    position: absolute;
    bottom: 5px;
    right: -30px;

    background: rgb(165, 53, 72);
    color: white;
    padding: 25px 30px;
    border-radius: 10px;
    width: 160px;
}