body {
    font-family: 'Oxygen', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

/* logo + 导航 + 右边 */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px;
    background-color: #ffffff;

}

/* logo 区块 */
.logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo img {
    height: 28px;
    width: auto;
}

/* 中间*/
.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 400;
    font-size: 15px;
}


.nav-links a.active {
    color: #f45c25;
    font-weight: 500;
}

/* 电话  */
.right-side {
    display: flex;
    align-items: center;
    gap: 20px;
}

.contact {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #333;
    font-weight: 600;
    font-size: 14px;
}

.contact img {
    height: 18px;
    width: auto;
}

.contact-btn {
    background-color: #f45c25;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 10px 18px;
    font-weight: 600;


}

.contact-btn:hover {
    background-color: #d94b1a;
}

/* 汉堡 */
.menu-icon {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.menu-icon div {
    width: 25px;
    height: 3px;
    background-color: #333;
    border-radius: 2px;
}

/* tablet */
@media (max-width:1023px) {
    .nav-links {
        display: none;
    }

    .menu-icon {
        display: flex;
        margin-left: 20px
    }

    .right-side .contact-btn {
        display: none;
    }

    .right-side {
        margin-left: auto;
        display: flex;
        align-items: center;
        gap: 20px;
    }
}

/* 手机 */
@media (max-width: 767px) {
    .navlinks {
        display: flex;
    }

    .menu-icon {
        display: flex;
    }


    .right-side {
        display: none;
    }

}